body{
	background-image: url("");
	background-position: center;
	background-color: #EAE8FF;
}

.container{
	width: 75%;
	margin: 0 auto;
}

/* heading of page*/

header{
	background-color: #424874;
	background-image: url("images/countryside.jpg");
	background-position: center;
	padding-top: 10px;
}

header h1{
	color: black;
	font-family: gigi;
	font-style: bold;
	text-align: right;
	font-size: 55px;
	margin-right: 25px;
}

/*navegation buttons*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

nav{
	background-color: #D8D5DB;
	padding-left: 20px;
	padding-right: 45px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: absolute;
    left: 20px;
    top: 169px;
    font-family: "Lucida Calligraphy";
    text-align: center;
}

nav ul li{
	display: block;
	text-align: left;
	width: 60px;
	font-size: 15px
}

li a:link, li a:active, li a:hover, li a:visited{
	color: #000;
	text-decoration: none;

}

li a:hover{
	text-decoration: underline;
	font-weight: bold;
	color: #fff;
}

/*Background color*/
main{
	background-color: rgba(207, 207, 220, 0.5);
}


/*pages link*/
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/*page content*/

/*Universal studios*/
.universal{
	width: auto;
	background-image: url(images/family/UniversalStudios/title.jpg);
	height: 50%;
	padding-top: 2%;
	margin: 8px;
	background-position: center;
}

#studio{
	color: #FFFFFF;
	font-size: 35px;
	font-family: "gabriola";
	padding-left: 5%;
	text-shadow: 2px 2px #000000;

}






/*copyright area*/
footer {
	clear: both;
	text-align: center;
	background-color: black;
	padding: 10px;
	color: white;
}
